<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .h1{
        text-align: center;
    }
    #content{
        text-align: center;
        width: 70%;
        margin-left: 15%;
    }
    #vinylElement{
        border: black;
        border: thin solid;
        padding: 5px;
    }
    .buttons{
        text-align: center;
        width: 20%
    }
</style>
<body>
    <div id="tutto">
        <h1 class="h1">
            WELCOME TO THE VINYL API
        </h1>
        <div style="text-align: center;">
            <button onclick="viewVinyls()" id="viewButton" class="buttons">VIEW VINYLS</button>
            <button onclick="addVinyl()" id="addButton" class="buttons">ADD VINYL</button>
            <button onclick="removeVinyl()" id="removeButton" class="buttons">REMOVE VINYL</button>
        </div>
        
        <div id="content">
            
        </div>
        
    </div>
    <script>
        
        async function viewVinyls(){
            fetch("http://192.168.1.204:5000/vinylAPI/vinyl")
            .then(response => {
                return response.json()
            })
            .then(response => {
                document.getElementById("content").innerHTML = '<br>';
                let vinylList = document.getElementById("content");
                response.forEach(element => {
                    vinylList.innerHTML += `<div id="vinylElement"> ${element.band} <br> ${element.name} </div>`;
                });
            })
        }

        async function addVinyl(){
            document.getElementById("content").innerHTML = '<h3>ADD VINYL</h3><br>'+
            '<form>' +
                '<label for="name">NAME</label>' + '<br>' +
                '<input type="text" id="name">' + '<br>' +
                '<label for="band">BAND</label>' + '<br>' +
                '<input type="text" id="band">' + '<br><br>' + 
                '<input type="submit" onclick="eventListenerAdd(event)">'
            '</form>';
            
        }

        async function removeVinyl(){
            document.getElementById("content").innerHTML = '<h3>REMOVE VINYL</h3><br>'+
            '<form>' +
                '<label for="name">NAME</label>' + '<br>' +
                '<input type="text" id="name">' + '<br>' +
                '<label for="band">BAND</label>' + '<br>' +
                '<input type="text" id="band">' + '<br><br>' + 
                '<input type="submit" onclick="eventListenerRemove(event)">'
            '</form>';
        }

        function eventListenerAdd(event){
            event.preventDefault()
            
            fetch("http://192.168.1.204:5000/vinylAPI/vinyl/" + document.getElementById("name").value + "/" + document.getElementById("band").value, {method: "PUT"})
            .then(response => {
                return response.json()
            })
        }

        function eventListenerRemove(event){
            event.preventDefault()
            fetch("http://192.168.1.204:5000/vinylAPI/vinyl/" + document.getElementById("name").value + "/" + document.getElementById("band").value, {method: "DELETE"})
            .then(response => {
                return response.json()
            })
        }

    </script>
</body>
</html>